.title {
  font-weight: bold;
  font-size: 32px;
  color: #586978;
  border-bottom: 1px solid #586978;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.logo-wrapper {
  overflow: hidden;
  position: relative;
}

.logo-wrapper, .logo {
  width: 180px;
  height: 180px;
}

.logo-hint {
  width: 100%;
  position: absolute;
  line-height: 40px;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  bottom: 0;
  text-align: center;
}